body {
  font-family: sans-serif;
  background-color: #000;
  background-image: url('./MatrixPics/matrix-animated-image.gif');
}
/* I have image saved  */

.row {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-content {
  background: whitesmoke;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 40px;
}

.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
}

div.row {
  padding: 10px;
  margin: 5px 5px 5px;
}

h5,
h3 {
  font-size: 1.72rem;
  line-height: 120%;
  margin: 1.9466666667rem 0 1.168rem 0;
  color: green;
}

img {
  width: 260px;
}
div.large.material-icons.right {
  margin: 0.5em;
  font-size: 2.4em;
  cursor: pointer;
}

a.brand-logo.center {
  margin: 0;
}
